<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="EwAppsLoggerConfiguration" type="ewApps.Core.ExceptionService.EwAppsLoggerConfigurationSection, ewApps.Core.ExceptionService" />
    <section name="EwAppsCacheConfiguration" type="ewApps.Core.ExceptionService.EwAppsCacheConfigurationSection, ewApps.Core.ExceptionService"/>
  </configSections>

  <!--Logging Section Begin-->
  <!--Logging Section End-->

  <!--Exception Handling Section Begin-->
  <!--Exception Handling Section End-->

  <!-- Cache Policy Configuration Section Beging-->
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="Trace">
    <listeners>
      <add name="DebugFlatFileTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Debug.log" formatter="DebugTextFormatter" />
      <add name="TraceFlatFileTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Trace.log" formatter="TraceTextFormatter" />
      <add name="ProductionEventLogListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        source="Enterprise Library Logging" formatter="ProcutionTextFormatter" />
      <add name="ProductionFlatFileTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Production.log" header="" footer="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"
        formatter="ProcutionTextFormatter" filter="All" />
      <add name="ProductionEmailTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        toAddress="skhanna@eworkplaceapps.com" fromAddress="sap-admin@batchmaster.com"
        subjectLineStarter=" " subjectLineEnder="error occured in ewApps application."
        smtpServer="mail.bizchathqmail.com" smtpPort="0" formatter="ProcutionTextFormatter"
        authenticationMode="UserNameAndPassword" userName="spadministrator@eworkplace0"
        password="spdemo@123" filter="Critical" />
      <add name="InformationFlatFileListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Info.log" header="" footer="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"
        formatter="InformationTextFormatter" filter="All" />
      <add name="DebugRollingFlatFileTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Log\Debug.log" formatter="DebugTextFormatter" rollFileExistsBehavior="Increment"
        rollInterval="Hour" rollSizeKB="5000" traceOutputOptions="DateTime"
        asynchronous="true" />
      <add name="TraceRollingFlatFileTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Log\Trace.log" formatter="TraceTextFormatter" rollFileExistsBehavior="Overwrite"
        rollInterval="Day" timeStampPattern="MM-dd-yyyy" />
      <add name="ProductionRollingFlatFileTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Log\Production.log" formatter="ProcutionTextFormatter"
        rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="5000"
        timeStampPattern="MM-dd-yyyy" asynchronous="true" />
      <add name="InformationRollingFlatFileTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Log\Information.log" formatter="InformationTextFormatter"
        rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="5000"
        timeStampPattern="MM-dd-yyyy" asynchronous="true" />
      <add name="InformationEmailTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        toAddress="skhanna@eworkplaceapps.com" fromAddress="sap-admin@batchmaster.com"
        subjectLineStarter=" " subjectLineEnder="Information ewApps application."
        smtpServer="mail.bizchathqmail.com" smtpPort="0" formatter="ProcutionTextFormatter"
        authenticationMode="UserNameAndPassword" userName="spadministrator@eworkplace0"
        password="spdemo@123" filter="Critical" />
      <add name="ServiceApiRollingFlatFileTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Log\ServiceApi.log" formatter="ServiceApiLogTextFormatter"
        rollSizeKB="5000" traceOutputOptions="DateTime" />
      <add name="ChatDebugRollingFlatFileTraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Log\ChatDebug.log" formatter="ServiceApiLogTextFormatter"
        rollSizeKB="5000" traceOutputOptions="DateTime" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp(local)}{newline}&#xA;Title:{title}{newline}&#xA;Message: {message}{newline}&#xA;Category:{category}{newline}&#xA;Priority:{priority}{newline}&#xA;Severity:{severity}{newline}&#xA;{dictionary({key}:{value}{newline})}"
        name="DebugTextFormatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp : {timestamp(local)}{newline}&#xA;Title     : {title}{newline}&#xA;Message   : {message}{newline}&#xA;Category  : {category}{newline}&#xA;Priority  : {priority}{newline}&#xA;Severity  : {severity}{newline}&#xA;{dictionary({key}  : {value}{newline})}"
        name="TraceTextFormatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp : {timestamp(local)}{newline}&#xA;Title     : {title}{newline}&#xA;Message   : {message}{newline}&#xA;Category  : {category}{newline}&#xA;Priority  : {priority}{newline}&#xA;Severity  : {severity}{newline}&#xA;Server : {machine}{newline}&#xA;Client : {localMachine}{newline}&#xA;{dictionary({key}  : {value}{newline})}"
        name="ProcutionTextFormatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Title: {title}{newline}&#xA;Timestamp: {timestamp(local)}{newline}&#xA;{dictionary({key}: {value}{newline})}"
        name="InformationTextFormatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp(local)}{newline}&#xA;Title: {title}{newline}&#xA;Message: {message}"
        name="ServiceApiLogTextFormatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="DebugRollingFlatFileTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Trace">
        <listeners>
          <add name="TraceRollingFlatFileTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Production">
        <listeners>
          <add name="ProductionRollingFlatFileTraceListener" />
          <add name="ProductionEmailTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Information">
        <listeners>
          <add name="InformationRollingFlatFileTraceListener" />
          <add name="InformationEmailTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="ServiceApiLog">
        <listeners>
          <add name="ServiceApiRollingFlatFileTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Chat">
        <listeners>
          <add name="ChatDebugRollingFlatFileTraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="TraceFlatFileTraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="DataPolicy">
        <exceptionTypes>
          <add name="EwpDataException" type="ewApps.Core.ExceptionService.EwpDataException, ewApps.Core.ExceptionService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            postHandlingAction="NotifyRethrow" />
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add Title="An error has occurred in Data Layer while processing your request."
                type="ewApps.Core.ExceptionService.ExceptionLoggingHandler, ewApps.Core.ExceptionService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                name="ExceptionLoggingHandler" />
              <add name="Wrap Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                exceptionMessage="An error has occurred in Data Layer while processing your request."
                wrapExceptionType="ewApps.Core.ExceptionService.EwpDataException, ewApps.Core.ExceptionService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="DataServicePolicy">
        <exceptionTypes>
          <add name="EwpDataException" type="ewApps.Core.ExceptionService.EwpDataException, ewApps.Core.ExceptionService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            postHandlingAction="NotifyRethrow" />
          <add name="EwpDataServiceException" type="ewApps.Core.ExceptionService.EwpDataServiceException, ewApps.Core.ExceptionService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            postHandlingAction="NotifyRethrow" />
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add Title="An error has occurred in Data Service Layer while processing your request."
                type="ewApps.Core.ExceptionService.ExceptionLoggingHandler, ewApps.Core.ExceptionService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                name="ExceptionLoggingHandler" />
              <add name="Wrap Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                exceptionMessage="An error has occurred in Data Service Layer while processing your request."
                wrapExceptionType="ewApps.Core.ExceptionService.EwpDataServiceException, ewApps.Core.ExceptionService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="SyncPolicy">
        <exceptionTypes>
          <add name="EwpDataException" type="ewApps.Core.ExceptionService.EwpDataException, ewApps.Core.ExceptionService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            postHandlingAction="NotifyRethrow" />
          <add name="EwpDataServiceException" type="ewApps.Core.ExceptionService.EwpDataServiceException, ewApps.Core.ExceptionService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            postHandlingAction="NotifyRethrow" />
          <add name="EwpSyncException" type="ewApps.Core.ExceptionService.EwpSyncException, ewApps.Core.ExceptionService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            postHandlingAction="NotifyRethrow" />
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add Title="An error has occurred in Sync Layer while processing your request."
                type="ewApps.Core.ExceptionService.ExceptionLoggingHandler, ewApps.Core.ExceptionService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                name="ExceptionLoggingHandler" />
              <add name="Wrap Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.WrapHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                exceptionMessage="An error has occurred in Sync Layer while processing your request."
                wrapExceptionType="ewApps.Core.ExceptionService.EwpSyncException, ewApps.Core.ExceptionService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="PassThroughPolicy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="NotifyRethrow" />
        </exceptionTypes>
      </add>
      <add name="LogPolicy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add type="ewApps.Core.ExceptionService.ExceptionLoggingHandler, ewApps.Core.ExceptionService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                name="ExceptionLoggingHandler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataConfiguration defaultDatabase="DBConnectionString" />
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=ewp-dev41;Initial Catalog=Authentication-Dev;Integrated Security=False; Uid=sa; pwd=sql2k12@dev41"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <EwAppsCacheConfiguration>
    <CachePolicyList>
      <add Module="Team" Priority="NotRemovable" AbsoluteExpirationDuration="0:0:2:0"/>
      <add Module="EntityTemplateField" Priority="NotRemovable" AbsoluteExpirationDuration="0:0:1:0" />
      <add Module="EntityTemplate" Priority="NotRemovable" AbsoluteExpirationDuration="0:0:1:0" />
      <add Module="StandardPicklist" Priority="NotRemovable" AbsoluteExpirationDuration="0:1:0:0" />
      <add Module="CustomPicklist" Priority="NotRemovable" AbsoluteExpirationDuration="0:0:1:0" />
      <add Module="ServiceAdminAccessToken" Priority="Default" AbsoluteExpirationDuration="0:0:10:00" />
      <add Module="ChatThreadName" Priority="Default" AbsoluteExpirationDuration="0:0:30:00" />
      <add Module="ChatSession" Priority="Default" AbsoluteExpirationDuration="0:0:30:00" />
      <add Module="InvitedEmployee" Priority="Default" AbsoluteExpirationDuration="0:0:10:00" />
      <add Module="ThumbnailUrl" Priority="Default" AbsoluteExpirationDuration="0:0:30:00" />
      <add Module="Paging" Priority="Default" AbsoluteExpirationDuration="0:0:59:00" />
      <add Module="PostPaging" Priority="Default" AbsoluteExpirationDuration="0:0:59:00" />
      <add Module="NotificationPaging" Priority="Default" AbsoluteExpirationDuration="0:0:59:00" />
      <add Module="XsltFileText" Priority="Default" AbsoluteExpirationDuration="0:0:30:00" />
      <!--<add Module="Downtime" Priority="NotRemovable" SlidingExpiration="0:1:00:00" />-->

<add Module="Downtime" Priority="Default" AbsoluteExpirationDuration="0:0:59:00" />


      <add Module="Permission" Priority="Default" AbsoluteExpirationDuration="0:0:59:00" />
      <add Module="Default" Priority="Default" AbsoluteExpirationDuration="0:0:1:00" />



      <!--<add Module="TenantUser" Priority="NotRemovable" AbsoluteExpirationDuration="0:0:1:0" />
      <add Module="Resolution" Priority="NotRemovable" AbsoluteExpirationDuration="0.0.1.0" />
      <add Module="Notes" Priority="NotRemovable" AbsoluteExpirationDuration="0.0.1.0" />
      <add Module="Location" Priority="NotRemovable" AbsoluteExpirationDuration="0.0.1.0" />
      <add Module="Contact" Priority="NotRemovable" AbsoluteExpirationDuration="0:0:1:0" />
      <add Module="Address" Priority="NotRemovable" AbsoluteExpirationDuration="0:0:1:0" />
      <add Module="Tenant" Priority="NotRemovable" AbsoluteExpirationDuration="0:0:1:0" />
      <add Module="Picklist" Priority="Default" SlidingExpirationDuration="0:0:2:0" />
      <add Module="Role" Priority="Default" SlidingExpirationDuration="0:0:2:30" />
      <add Module="Project" Priority="" AbsoluteExpirationDuration="0:0:4:0" />
      <add Module="Team" Priority="Default" AbsoluteExpirationDuration="0:0:1:0" />-->
    </CachePolicyList>
  </EwAppsCacheConfiguration>
  <!-- Cache Policy Configuration Section End-->

  <!--<EwAppsLoggerConfiguration TraceLoggerLevel="Normal" DebugLogger="true">-->
  <EwAppsLoggerConfiguration TraceLoggerLevel="Silent" DebugLogger="true">
    <TraceLoggerScopeList>
      <add Key="UserSessionSilent" Module="UserSession-SQL" TraceLoggerLevel="Silent" TenantId="00000000-0000-0000-0000-000000000000" />
    </TraceLoggerScopeList>
  </EwAppsLoggerConfiguration>
  <!--EwApps Logging Configuration Section End-->


</configuration>
